#vipModal .modal-dialog {
	width: 780px;
}
#svipModal .modal-dialog {
	width: 780px;
}
#stayVipModal .modal-dialog {
	width: 780px;
}
#vipModal .modal-content {
	border-radius: 0px; text-align: center; padding-bottom: 25px;
}
#svipModal .modal-content {
	border-radius: 0px; text-align: center; padding-bottom: 25px;
}
#stayVipModal .modal-content {
	border-radius: 0px; text-align: center; padding-bottom: 25px;
}
#vipModal .close {
	right: 10px; color: rgb(255, 255, 255); font-size: 40px; font-weight: normal; position: absolute; opacity: 0.8;
}
#svipModal .close {
	right: 10px; color: rgb(255, 255, 255); font-size: 40px; font-weight: normal; position: absolute; opacity: 0.8;
}
.vip-top {
	background: url("../images/vip_modal_bg2@2x.png") no-repeat top / 780px 239px; line-height: 1.8; padding-top: 5px;
}
.vip-buy-panel {
	background: rgb(255, 255, 255); margin: 20px auto; border-radius: 6px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 680px; height: auto; padding-bottom: 10px;
}
.vip-year-list {
	margin: 20px auto 0px; width: 554px;
}
.vip-year-list-in {
	margin: 20px auto; width: 554px;
}
.vip-year-list-in-history {
	margin: 20px auto; width: 554px;
}
.vip-kuang {
	border: 2px solid rgb(205, 205, 205); border-image: none; width: 114px; height: 70px; margin-right: 35px; margin-left: 35px; float: left; position: relative; cursor: pointer;
}
.vip-kuang .price {
	color: rgb(102, 102, 102); margin-top: 8px;
}
.vip-kuang .price > span {
	font-size: 18px;
}
.vip-kuang .origin-price {
	color: rgb(153, 153, 153); text-decoration: line-through; margin-top: -3px;
}
.active.vip-kuang {
	border: 2px solid rgb(249, 85, 42); border-image: none; cursor: default;
}
.vip-kuang .price > span {
	color: rgb(249, 85, 42);
}
.active.vip-kuang .price > span {
	color: rgb(249, 85, 42);
}
.vip-btn {
	background: rgb(249, 85, 42); margin: auto; border-radius: 2px; width: 242px; color: rgb(255, 255, 255) !important; line-height: 44px; font-size: 18px; display: block;
}
.vip-publicity {
	color: rgb(153, 153, 153); margin-top: 13px;
}
.vip-container {
	margin: auto; width: 680px;
}
.vip-container .table-caption {
	text-align: left; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid;
}
.vip-container .table-caption img {
	padding-bottom: 6px; border-bottom-color: rgb(18, 139, 237); border-bottom-width: 2px; border-bottom-style: solid; display: inline-block;
}
.vip-container .table-caption span {
	color: rgb(102, 102, 102); padding-left: 16px; font-size: 13px; font-weight: 600; display: inline-block;
}
.vip-container .table-caption a {
	color: rgb(18, 139, 237); padding-top: 8px; font-size: 13px;
}
.vip-table td {
	padding: 0px 10px !important; height: 42px; text-align: left; font-size: 13px; font-weight: 400; vertical-align: middle !important; border-top-color: currentColor !important; border-top-width: medium !important; border-top-style: none !important;
}
.vip-table td a {
	color: rgb(120, 130, 136);
}
.vip-table tr:nth-child(1) > td {
	color: rgb(51, 51, 51); font-size: 16px; font-weight: 600;
}
.vip-table > tbody > tr:nth-child(2n+1) > td {
	background-color: rgb(255, 255, 255) !important;
}
.vip-table > tbody > tr:nth-child(2n+1) > th {
	background-color: rgb(255, 255, 255) !important;
}
.vip-table > tbody > tr:nth-child(2n) > td {
	background-color: rgb(245, 249, 255) !important;
}
.vip-table > tbody > tr:nth-child(2n) > th {
	background-color: rgb(245, 249, 255) !important;
}
.vip-table .x {
	color: rgb(153, 153, 153); font-size: 28px; font-weight: normal;
}
.vip-text-re {
	color: rgb(255, 37, 80) !important;
}
.vip-rec {
	background: url("../images/vip_rec.png") 0% 0% / 50px 18px; left: -2px; top: -10px; width: 50px; height: 18px; position: absolute;
}
.cert.vip-year-list {
	width: 390px;
}
.cert.vip-year-list .vip-kuang {
	width: 124px;
}
.cert.vip-year-list .name {
	color: rgb(241, 88, 47); font-size: 18px; margin-top: 8px;
}
.cert.vip-year-list .name > span {
	left: -3px; top: 3px; width: 20px; height: 20px; display: inline-block; position: relative; background-image: url("/material/theme/chacha/cms/pro/img/certpay_sign3.png"); background-size: 80px 20px;
}
.cert.vip-year-list .name > .sign34 {
	background-position: -40px 0px;
}
.cert.vip-year-list .name > .sign35 {
	background-position: -20px 0px;
}
.cert.vip-year-list .price {
	color: rgb(153, 153, 153); margin-top: -5px;
}
.cert.vip-year-list .disable.vip-kuang {
	background: rgb(246, 246, 246); cursor: not-allowed;
}
.cert.vip-year-list .disable.vip-kuang .name {
	color: rgb(153, 153, 153);
}
.cert.vip-year-list .disable.vip-kuang .name > .sign34 {
	background-position: -60px 0px;
}
.cert.vip-year-list .disable.vip-kuang .vip-rec {
	display: none;
}
.cert.vip-pay-info .pre {
	text-align: left;
}
.cert.vip-pay-info .payduction {
	width: 200px; color: rgb(153, 153, 153);
}
.certpay-demo {
	height: 340px; margin-top: 25px;
}
.certpay-demo > img {
	width: 682px;
}
@media only screen
{
.vip-rec {
	background-image: url("../images/vip_rec@2x.png");
}
}
@media not all
{
.vip-rec {
	background-image: url("../images/vip_rec@2x.png");
}
}
@media not all
{
.vip-rec {
	background-image: url("../images/vip_rec@2x.png");
}
}
@media not all
{
.vip-rec {
	background-image: url("../images/vip_rec@2x.png");
}
}
@media print and (min-resolution:144dpi)
{
.vip-rec {
	background-image: url("../images/vip_rec@2x.png");
}
}
.vip-title {
	text-align: center; color: rgb(255, 255, 255);
}
.vip-title h2 {
	font-size: 18px; font-weight: normal;
}
.vip-title h3 {
	font-size: 16px; font-weight: normal; margin-top: 15px;
}
.vip-title h3 a {
	color: rgb(245, 166, 35); font-size: 14px; margin-left: 10px;
}
.vip-title .title {
	color: inherit; line-height: 1.1; font-family: inherit; font-size: 18px; font-weight: normal; margin-top: 20px; margin-bottom: 10px;
}
.vip-title .sub-title {
	color: inherit; line-height: 1.1; font-family: inherit; font-size: 16px; font-weight: normal; margin-top: 15px; margin-bottom: 10px;
}
.vip-title .sub-title a {
	color: rgb(245, 166, 35); font-size: 14px; margin-left: 10px;
}
.vip-pay-container {
	margin: 25px auto 20px; width: 680px;
}
.vip-payj-left {
	width: 185px; margin-right: 20px; float: left;
}
.vip-payj-left p {
	text-align: left; color: rgb(153, 153, 153); line-height: 1.3; font-size: 14px;
}
.vip-payj-qrcode {
	background: rgb(243, 249, 254); width: 475px; height: 280px; float: left;
}
.vip-pay-info {
	margin: 20px auto auto; width: 554px; font-size: 16px;
}
.vip-pay-info .clearfix {
	margin: 5px 0px; position: relative;
}
.vip-pay-info .pre {
	width: 100px; text-align: right; display: inline-block;
}
.vip-pay-info .after {
	width: 380px; text-align: right; display: inline-block;
}
.vip-pay-info .payprice {
	color: rgb(253, 72, 94);
}
.vip-pay-info .text-gray.payprice {
	color: rgb(153, 153, 153);
}
.vip-pay-info .drop {
	color: rgb(153, 153, 153); cursor: pointer;
}
.pay-type-wx {
	width: 185px; height: 60px; display: inline-block; cursor: pointer; background-image: url("/material/theme/chacha/cms/v2/images/pay_btn_imgs.png"); background-size: 370px 240px;
}
.pay-type-ali {
	width: 185px; height: 60px; display: inline-block; cursor: pointer; background-image: url("/material/theme/chacha/cms/v2/images/pay_btn_imgs.png"); background-size: 370px 240px;
}
.pay-type-left {
	width: 185px; height: 60px; display: inline-block; cursor: pointer; background-image: url("/material/theme/chacha/cms/v2/images/pay_btn_imgs.png"); background-size: 370px 240px;
}
.pay-type-points {
	width: 185px; height: 60px; display: inline-block; cursor: pointer; background-image: url("/material/theme/chacha/cms/v2/images/pay_btn_imgs.png"); background-size: 370px 240px;
}
.pay-type-wx {
	background-position: 0px 0px;
}
.active.pay-type-wx {
	background-position: -185px 0px;
}
.pay-type-ali {
	background-position: 0px -60px;
}
.active.pay-type-ali {
	background-position: -185px -60px;
}
.pay-type-left {
	background-position: 0px -120px;
}
.active.pay-type-left {
	background-position: -185px -120px;
}
.pay-type-points {
	background-position: 0px -180px;
}
.active.pay-type-points {
	background-position: -185px -180px;
}
.pay-load {
	left: 52px; top: 52px; display: block; position: absolute; z-index: 60;
}
.qrcode-div {
	margin-top: 40px;
}
.wx_pay_box {
	background: url("/material/theme/chacha/cms/pro/img/vip_payqrcodek2.png") 0% 0% / 323px 223px; width: 323px; height: 223px; margin-top: 30px; margin-left: 120px; position: relative;
}
.wx_pay_img {
	left: 11px; top: 13px; width: 160px; height: 160px; position: relative;
}
.ali_pay_box {
	background: url("/material/theme/chacha/cms/pro/img/vip_payqrcodek3.png") 0% 0% / 323px 223px; width: 323px; height: 223px; text-align: left; margin-top: 30px; margin-left: 120px; display: none; position: relative;
}
.ali_pay_frame {
	left: 11px; top: 13px; width: 160px; height: 160px; position: relative;
}
.left_pay_box {
	text-align: center; padding-top: 20px; display: none;
}
.points_pay_box {
	text-align: center; padding-top: 20px; display: none;
}
.left_pay_box img {
	width: 200px;
}
.points_pay_box img {
	width: 200px;
}
.left_pay_box p {
	color: rgb(102, 102, 102);
}
.points_pay_box p {
	color: rgb(102, 102, 102);
}
.coupon-drop {
	display: none;
}
.coupon-drop .dropdown-menu {
	padding: 0px; left: 100px; width: 420px; margin-top: 0px; -ms-overflow-y: auto; max-height: 412px;
}
.coupon-drop li {
	text-align: left; color: rgb(51, 51, 51); font-size: 14px;
}
.coupon-drop .coupon-type {
	padding: 10px 15px; color: rgb(51, 51, 51); display: inline-block;
}
.coupon-drop .coupon-item {
	padding: 10px 15px;
}
.coupon-drop .coupon-item .price {
	background: rgb(243, 249, 254); padding: 6px 5px; border: 2px solid rgb(18, 139, 237); border-image: none; width: 50px; text-align: center; color: rgb(18, 139, 237); font-size: 14px; margin-top: 5px; margin-right: 12px;
}
.coupon-drop .coupon-item .title {
	color: rgb(51, 51, 51); font-size: 14px;
}
.coupon-drop .coupon-item .des {
	color: rgb(102, 102, 102); font-size: 12px;
}
.coupon-drop .coupon-item .time {
	color: rgb(153, 153, 153); font-size: 12px;
}
.coupon-drop .coupon-item .pull-right {
	right: 10px; position: absolute;
}
.coupon-drop .coupon-item .check {
	background: url("../images/ic_radio_button_off.png") 0% 0% / 24px 24px; width: 24px; height: 24px; margin-top: 18px;
}
.coupon-drop .coupon-item:hover {
	background: rgb(246, 246, 246);
}
.coupon-drop .disable.coupon-item {
	cursor: not-allowed;
}
.coupon-drop .disable.coupon-item .price {
	background: rgb(254, 254, 254); border-color: rgb(238, 238, 238); color: rgb(153, 153, 153);
}
.coupon-drop .active.coupon-item .check {
	background-image: url("../images/ic_radio_button_on.png");
}
.vip-pay-container .step1 img {
	width: 680px; height: 315px; object-fit: cover;
}
.vip-demo-link {
	left: 0px; width: 100%; text-align: center; bottom: 13px; color: rgb(153, 153, 153); line-height: 20px; font-size: 12px; position: absolute;
}
.vip-insert-wrap .vip-demo-link {
	top: 15px; line-height: 20px; display: block; position: relative;
}
.vip-demo-link:hover {
	color: rgb(18, 139, 237);
}
.show.vip-demo-link {
	display: block;
}
.vip-pay {
	color: rgb(249, 85, 42);
}
.vip-iframe {
	border: currentColor; border-image: none; width: 888px; height: 838px; overflow: hidden;
}
.demo-img {
	width: 680px; height: 315px;
}
.day-price {
	color: rgb(102, 102, 102); font-size: 12px;
}
.day-price > span {
	color: rgb(255, 130, 102);
}
.svip .vip-btn {
	background: rgb(210, 168, 116);
}
.svip .vip-kuang .price > span {
	color: rgb(221, 189, 135);
}
.svip .active.vip-kuang .price > span {
	color: rgb(221, 189, 135);
}
.svip .active.vip-kuang {
	border-color: rgb(221, 189, 135);
}
.svip .day-price > span {
	color: rgb(221, 189, 135);
}
